$extralightgrey:#f2f2f2;
$lightgrey:#e2e2e2;
$mediumgrey:#d8d8d8;
$grey:#c1c1c1;
$bggrey: #cecece;
$darkgrey:#606060;
$purple:#8228a5;	

$mint:#aae6dc;
$green:#00aa64;
$turquoise:#00b4c8;
$blue:#00508c;
$eventgrey:#5a6464;
$yellow:#fab400;
$red:#ff5000;

