.round-btn.add {
  position: absolute;
  left:calc(50vw - 30px -18px);
  top:calc(50vw - 30px);
  background-color:black;
  width:60px;
  height:60px;
  border-radius:50px;
  border:none;
  transition: background-color 200ms linear;

}

.round-btn.add:hover {
  background-color:red;
}

.btn-wrapper {
  transition: all 0.2s ease-in-out;
  width:100%;
  height:100%;
  border:2px solid white;
  background:black;
  border-radius:5px;

}
.btn-wrapper:hover {
  background-color:#4c4c4c;
}

.btn-wrapper.selected {
  background-color:#4c4c4c;
}

.btn {
  width:70%;
  border:none;
  background-color:transparent;
}

.btn.ctrl {
  left: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 6px;
}

.icon {
  background-repeat: no-repeat;
  cursor: pointer;
  content: "";
}

.btn.ctrl {
  z-index:5;
  background-image: url(../assets/i_ctrl.svg);
}

.btn.add {
  background-image: url(../assets/i_add.svg);
  z-index: 99999;
}

.btn.remove {
  z-index:5;
  position:absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  background-image: url(../assets/i_remove.svg);
}

.btn.left {
  background-image: url(../assets/i_left.svg);
  height: 96%;
  margin-left: 6.2vw;
  margin-top: 0.1vw;
}

.btn.right {
  background-image: url(../assets/i_right.svg);
  height: 96%;
  margin-left: 5.7vw;
  margin-top: 0.1vw;
}

.btn.center {
  background-image: url(../assets/i_center.svg);
  height: 96%;
  margin-left: 5.8vw;
  margin-top: 0.1vw;
}

.btn.rect {
  background-image: url(../assets/i_rect.svg);
  height: 100%;
  margin-left: 9.7vw;
  margin-top: 0.03vw;
}

.btn.circle {
  background-image: url(../assets/i_circle.svg);
  height: 98%;
  margin-left: 9.7vw;
  margin-top: 0.08vw;
}
.ctrl-types {
  .whitespace, .fullstop, .background, .lowercase, .uppercase, .comma {
    text-transform: capitalize;
    color: white;
    width: 100%;
    letter-spacing: 0.06rem;
    font-size:20px;
    margin-top: 9px;
  }
}

.Control {
  z-index:3;
  position:absolute;
  left:0px;
  top:50px;
  height:calc(100% - 50px);
  width:calc(50vw - 7px);
  background-color:rgba(255,0,0,0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ctrl-overlay {
  width:70%;
  height:100%;
  background-color:yellow;
  height:100%;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
}
.ctrl-wrapper--align, .ctrl-wrapper--shape, .ctrl-wrapper--color {
  // width:70%;
  height:54px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.ctrl-wrapper--color{
  height:100px;

}

.ctrl-types{
  height:300px;
  width:70%;
  // background-color:pink;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.ctrl-colors{
  width:70%;
  height: 300px;
}

.ColorSelector {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
  border-radius:5px;
  border:2px solid white;
  box-sizing: border-box;
  height:100%;
}
.Color{
  width: 16.666%;
  height:100%;
  // border-radius: 5px;
  // border: 2px solid white;
  filter:brightness(90%);
  cursor:pointer;
}

.Color:hover {
  filter:brightness(100%);
  // border: 4px solid white;
}

.line {
  line-height:0em;
  margin:0;
  padding:0;
  // transition: all 0.7s ease-in-out;
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
}
.line.circle span{
  border-radius:500px;
}
.line.rect span{
  border-radius:0px;
}
.line.right{
  justify-content:flex-end;
}
.line.center{
  justify-content:center;
}
.line.left{
  justify-content:flex-start;
}

.Block {
  border-radius: 100px;
  background-color: orange;
  display: inline-block;
  width: 30px;
  height: 50px;
  transition: background-color 0.2s ease-in-out;
}
.Block.uppercase {
  background-color: brown;
}
.Block.lowercase {
  background-color: lightgreen;
}
.Block.whitespace {
  background-color: white;
}
.Block.return {
  background-color: grey;
}
.Block.fullstop {
  background-color: red;
}
.Block.comma {
  background-color: green;
}
.Block.rect{
  border-radius: 0px;
}
.Block.circle{
  border-radius: 500px;
}