.round-btn.add {
  position: absolute;
  left:calc(47vw);
  top:calc(47vw);
  background-color:blue;
  width:50px;
  height:50px;
  border-radius:50px;
  border:none;
}

.btn {
  width:100%;
  height:100%;
  border:none;
  background-color:grey;
}

.btn:hover {
  background-color:pink;
}

.btn.ctrl {
  display: inline-block;
  width:50px;
  height: 50px;
  position:absolute;
}

.icon {
  background-repeat: no-repeat;
  cursor: pointer;
  content: "";
}

.btn.ctrl {
  z-index:5;
  background-image: url(../assets/i_ctrl.svg);
}

.btn.add {
  background-image: url(../assets/i_add.svg);
  z-index: 99999;
}

.btn.remove {
  z-index:5;
  position:absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  background-image: url(../assets/i_remove.svg);
}

.btn.left {
  background-image: url(../assets/i_left.svg);
}

.btn.right {
  background-image: url(../assets/i_right.svg);
}

.btn.center {
  background-image: url(../assets/i_center.svg);
}

.btn.rect {
  background-image: url(../assets/i_rect.svg);
}

.btn.circle {
  background-image: url(../assets/i_circle.svg);
}

.btn.icon.selected {
  background-color:red;
}

.Control {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
}

.ctrl-wrapper--align, .ctrl-wrapper--shape, .ctrl-wrapper--color {
  height:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.ctrl-types{
  height:150px;
  width:30%;
  background-color:pink;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.ctrl-colors{
  width:70%;
  height:150px;
  background-color:pink;
}

.ColorSelector {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
}
.Color{
  width:10%;
  height:150px;
  filter:brightness(90%);
  cursor:pointer;
}

.Color:hover {
  filter:brightness(100%);
}

.line {
  line-height:0em;
  margin:0;
  padding:0;
  // transition: all 0.7s ease-in-out;
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
}
.line.circle span{
  border-radius:500px;
}
.line.rect span{
  border-radius:0px;
}
.line.right{
  justify-content:flex-end;
}
.line.center{
  justify-content:center;
}
.line.left{
  justify-content:flex-start;
}

.Block {
  border-radius: 100px;
  background-color: orange;
  display: inline-block;
  width: 30px;
  height: 50px;
  // transition: border-radius 0.7s ease-in-out;
}
.Block.uppercase {
  background-color: brown;
}
.Block.lowercase {
  background-color: lightgreen;
}
.Block.whitespace {
  background-color: white;
}
.Block.return {
  background-color: grey;
}
.Block.fullstop {
  background-color: red;
}
.Block.comma {
  background-color: green;
}
.Block.rect{
  border-radius: 0px;
}
.Block.circle{
  border-radius: 500px;
}