html,
body {
  scroll-behavior: smooth;
  background-color:grey;
  overflow-x:hidden;
  height:100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  overflow-y:scroll;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline:0;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

div {
  box-sizing: border-box;
  display: block;
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(120,120,120);
  /* background: #000000; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.6);
  transition: background-color 0.2s ease;
  /* background: rgba(255,255,255,.5); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(80,80,80);
}