.unit-container {
  margin-bottom:150px;
}

.Unit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  border-top:1px solid grey;
}

.container-sqr{
  width:50vw;
  height:50vw;
  background-color:red;
}

.Textbox:focus, .Textbox--title:focus{
  outline: none;
}

.Textbox {
  resize: none;
  padding: 65px 10px 15px 10px;
  font-family: serif;
  font-size: 40px;
  width: 100%;
  height:100%;
  outline: none;
  background-color: white;
  color: grey;
  box-shadow: none;
  border:none;
  white-space: pre-wrap;
}

.Textbox--title {
  background: rgba(255,255,255,0.85);
  border:none;
  border-bottom:1px solid rgba(45,45,45,0.1);
  height:50px;
  width:100%;
  padding:10px 10px 10px 70px;
  font-size:26px;
  position:absolute;
}

.container-sqr.frame {
  z-index:3;
}